body {
  background-color: lightblue;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
}

table, td, th {
  border: saddlebrown 1px solid;
}

img {
  margin-top: 5%;
  max-width: 30%;
}

.geel {
  background-color: yellow;
}
